# -------- ARCHIVOS DE SISTEMA --------
*.log
.DS_Store
Thumbs.db

# -------- ENTORNOS Y ARCHIVOS SENSIBLES --------
.env
.env.backup
.env.production
/auth.json

# -------- DIRECTORIOS A IGNORAR --------
/vendor/
/node_modules/

# -------- LARAVEL --------
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/cache/

# No ignoramos PUBLIC ENTERO (DEBES subir imágenes, css, assets, etc.)
# Solo ignoramos archivos generados automáticamente:
# public/build  <-- LO ELIMINAMOS PARA PERMITIR SUBIR EL BUILD

public/hot/
public/storage/     # symlink, no debe subirse

# Mantenemos VISIBLE todo lo demás (se suben correctamente):
# public/images/
# public/storage_backup_20251206/
# public/carreras/
# public/convenios/


# -------- IDEs / Editors --------
/.idea/
/.fleet/
/.vscode/
/.phpunit.cache
/.phpactor.json
/.nova/
/.zed/

# -------- HERRAMIENTAS --------
.phpunit.result.cache

# -------- HOMESTEAD --------
Homestead.json
Homestead.yaml

